<div class="rulecard">
  <div class="row">
    <div class="container">
      <div class="col-sm-4 float-left">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">휴학</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary d-flex align-items-end">자세히</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 float-left">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">복학</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary d-flex align-items-end">자세히</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 float-left">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">이중전공</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary d-flex align-items-end">자세히</a>
          </div>
        </div>
      </div>  
    </div>
  </div>
    <div class="row">
    <div class="container">
      <div class="col-sm-4 mt-4 float-left">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">조기졸업</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary d-flex align-items-end">자세히</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-4 float-left">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">전공필수</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary d-flex align-items-end">자세히</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 mt-4 float-left">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">교직필수</h3>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary d-flex align-items-end">자세히</a>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>  