<footer class="text-muted d-flex align-items-center">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <span class="copyright">Copyright &copy; KURULES</span>
          </div>
          <div class="col-md-4">
              <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                      <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
                  </li>
              </ul>
          </div>
          <div class="col-md-4">
              <ul class="list-inline quicklinks">
                  <li class="list-inline-item">
                      <a href="#">잘못된 정보 신고하기</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>